<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Emumba/Documents/WeatherShoppingAssignment_TA/src"><classes><class name="tests.CheckoutTest"><methods><include name="test"/></methods></class><class name="tests.HomeTest"><methods><include name="testHomepageMoisturizerLink"/><include name="testHomepageSunscreenLink"/></methods></class><class name="tests.MoisturizerTest"><methods><include name="testAloe"/><include name="testAlmond"/></methods></class><class name="tests.PaymentSuccessTest"><methods><include name="test"/></methods></class><class name="tests.SunscreenTest"><methods><include name="testSPF50"/><include name="testSPF30"/></methods></class></classes></test></suite>